<h1 class="header">CLOWN CHAT</h1>


<div id="message-container">
        
        
</div>
    <div class="clownDiv">
    <img src="image/clown.png" alt="clown" class="clown"/>
    </div>
    <form id="send-container" class="formClass">
        <input type="text" id="message-input" placeholder="Send a Message Clown" class="message-inputClass">
        <input type="submit" id="send-button" value="Send" class="message-sendClass">

    </form>











</html>