<div class="header-linear-div"></div>
<div class="header-div">
    
    <img src="/image/clown.png" class="clown-pic"/> <h1 class="header">Clown Chat</h1> 
</div>
<div class="blurredlines">

</div>

<div class="index-form-div">
    <form action="/chat" autocomplete="off">
        <div>
            <div class="input-div">
                <input type="text" name="name" required autofocus class="index-input" placeholder="Display Name"/>
            </div>
        </div>
        <div>
            <input type="text" name="room" required autofocus class="index-input" placeholder="Create room or Join exisiting room"/>

            <div class="button-div">
            <button class="index-btn">Start Chat</button>
            </div>
        </div>
    </form>
</div>