<div>
    <form action="/chat">
        <div>
            <label for="name">Display Name</label>
            <input type="text" name="name" required autofocus/>
        </div>
        <div>
            <label for="room">Create room or Join exisiting room</label>
            <input type="text" name="room" required autofocus/>

            <button>Start Chatting</button>
        </div>
    </form>
</div>